<h1>This is your Cookbook</h1>
<h2>Store your favourite recipes her</h2>

<p>--------------------------------------------------------------------------------</p>
<% @recipes.each_with_index do |rec, index| %>
<h2> <%= rec.name %></h2>
<p> <%= rec.description %> </p>
<p> <%= rec.prep_time %> </p>
<p> <%= rec.difficulty %> </p>
<% path = "destroy/#{index}" %>
<a href="/<%=path%>">Delete Recipe</a>
<% end %>

<br></br>
<a href="/new" type="button" class="btn btn-primary" >Create New Recipe</a>
<br></br>
<br></br>
<!--
<div></div>
<img src="" alt=""> -->
